//C# block code
@{
	ViewData["Title"] = "Home Page"; //title of the page
}

<h2>@ViewData["Title"]</h2> //"@" allow us to use C# code inside HTML
<h3>@ViewBag.Message</h3>
<p>This is the home page</p>
